.dashboard-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-end; }
  .dashboard-wrapper .logout-span {
    display: flex;
    flex-direction: row;
    width: 100%; }
    .dashboard-wrapper .logout-span .logout-filler {
      width: 100%; }
    .dashboard-wrapper .logout-span .logout {
      padding: 2rem;
      border-radius: 5px;
      text-align: center;
      white-space: nowrap;
      font-size: 1.3rem; }
      .dashboard-wrapper .logout-span .logout:hover {
        cursor: pointer;
        background: rgba(255, 208, 0, 0.74); }
  .dashboard-wrapper .dashboard {
    display: flex;
    flex-direction: column; }
    .dashboard-wrapper .dashboard h1 {
      display: flex;
      justify-content: flex-start;
      padding-left: 10%; }
    .dashboard-wrapper .dashboard .progress-bar {
      margin-top: 1rem;
      display: flex;
      align-items: center;
      justify-content: space-evenly; }
    .dashboard-wrapper .dashboard .progress-bar-img {
      width: 80%; }
  .dashboard-wrapper .dashboard-content {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-content: center; }
    .dashboard-wrapper .dashboard-content #flashcard-box:hover {
      cursor: pointer; }
    .dashboard-wrapper .dashboard-content #flashcard-box img {
      width: 10rem; }
    .dashboard-wrapper .dashboard-content #flashcard-box p {
      margin-top: 0.7rem;
      font-weight: bold;
      font-size: 1.3rem; }
    .dashboard-wrapper .dashboard-content .exercise-quiz-wrapper {
      margin-top: 2rem;
      margin-bottom: 2rem;
      display: flex;
      justify-content: center; }
      .dashboard-wrapper .dashboard-content .exercise-quiz-wrapper #exercise-box {
        margin-right: 3rem; }
        .dashboard-wrapper .dashboard-content .exercise-quiz-wrapper #exercise-box:hover {
          cursor: pointer; }
        .dashboard-wrapper .dashboard-content .exercise-quiz-wrapper #exercise-box img {
          width: 10rem; }
        .dashboard-wrapper .dashboard-content .exercise-quiz-wrapper #exercise-box p {
          margin-top: 0.7rem;
          font-weight: bold;
          font-size: 1.3rem; }
      .dashboard-wrapper .dashboard-content .exercise-quiz-wrapper #quiz-box {
        margin-left: 3rem; }
        .dashboard-wrapper .dashboard-content .exercise-quiz-wrapper #quiz-box:hover {
          cursor: pointer; }
        .dashboard-wrapper .dashboard-content .exercise-quiz-wrapper #quiz-box img {
          width: 10rem; }
        .dashboard-wrapper .dashboard-content .exercise-quiz-wrapper #quiz-box p {
          margin-top: 0.7rem;
          font-weight: bold;
          font-size: 1.3rem; }
