.exercise {
  margin: 2rem;
  padding: 0rem; }
  .exercise .exerciseBar {
    display: flex;
    margin-bottom: 2rem;
    justify-content: flex-start; }
  .exercise .livesBar {
    display: flex;
    align-items: center; }
    .exercise .livesBar .progressBarExercise {
      width: 100%; }
      @media (max-width: 400px) {
        .exercise .livesBar .progressBarExercise {
          width: 80%; } }
    .exercise .livesBar .heartExercise {
      margin-left: 3rem; }

.exerciseCards {
  border: solid black; }
