.exercise {
  margin: 2rem;
  padding: 0rem; }
  .exercise .exerciseBar {
    display: flex;
    margin-bottom: 2rem;
    justify-content: flex-start; }
    .exercise .exerciseBar img {
      padding: 1rem; }
      .exercise .exerciseBar img:hover {
        border-radius: 5px;
        cursor: pointer;
        background: rgba(255, 208, 0, 0.74); }
  .exercise .livesBar {
    display: flex;
    align-items: center;
    margin-bottom: 2rem; }
    .exercise .livesBar .progressBarExercise {
      width: 100%; }
      @media (max-width: 400px) {
        .exercise .livesBar .progressBarExercise {
          width: 80%; } }
    .exercise .livesBar .heartExercise {
      margin-left: 3rem; }

.exerciseCards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  align-items: center; }
  .exerciseCards .questionImagePhrase {
    align-content: flex-start;
    font-size: 1.5rem; }
  .exerciseCards .questionImage {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    width: 100%;
    border-radius: 5px;
    border: solid #f0efef;
    align-items: center; }
  .exerciseCards .letterOptionsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%; }
    .exerciseCards .letterOptionsContainer .letterOption {
      width: 40%;
      font-size: 100%;
      font-family: inherit;
      border: 0;
      padding: 0;
      background: white;
      border: solid grey;
      border-radius: 5px;
      margin: 1rem;
      padding-top: .3rem;
      padding-bottom: .3rem; }
  .exerciseCards #checkExerciseBtn {
    margin-top: 2rem;
    background: #f1f1f1;
    border: none;
    padding: 1rem 15rem;
    font-weight: bold; }
  .exerciseCards #nextExerciseBtn {
    margin-top: 2rem; }
