@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

.App {
  text-align: center;
  font-family: 'Inter', sans-serif;
  font-style: normal;
}

.landingContent {
  // background-color: green;

  button {
    background-color:#F6BF00;
    border-radius: 4px;
    position: absolute;
    width: 343px;
    height: 44px;
    left: 16px;
    top: 286px;

    p {
      position: absolute;
      left: 41.11%;
      right: 41.4%;
      top: 29.55%;
      bottom: 27.27%;
      font-weight: 600;
      font-size: 16px;
      line-height: 19px;
      display: flex;
      align-items: center;
      color: #333333
    }
  }
};