@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

.App {
  text-align: center;
  font-family: "Inter", sans-serif;
  font-style: normal;
  width: 375px;
}

.landingContent {
  // background-color: green;
  padding: 2%;

  #landingBtn {
    background-color: #f6bf00;
    border-radius: 4px;
    width: 95%;
    padding: 10px 0px;
    margin: 3% auto;
    font-weight: 550;
    font-size: 16px;
    line-height: 19px;
    color: #333333;
    cursor: pointer;
  }

  .landingBoxes {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-flow: row wrap;

    section {
      padding: 1.5%;
      width: 43%;
      margin: 1.5%;
      font-size: 12px;
      display: flex;
      flex-direction: column;
    }
  }
}

.inputText {
  background-color: green;
  padding: 2% 0;
}