// LessonCard.js starts here ************************************************
.lessonCards {
  width: 332px;
  margin: 3% auto;
}
.frame {
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  height: 224px;
  width: 332px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  .flipArrow {
    top: 10px;
    right: 10px;
    position: absolute;
  }
  b {
    font-size: 6.4rem;
  }
}
